<% for( let i = 0; i < filteredList.length; i++ ) { %>
<p>Source: <%= filteredList[i].source%></p>
<a href="/recipe/<%= filteredList[i].label.replace(/ /g, "").toLowerCase()  %> "
  ><p>Label: <%= filteredList[i].label%></p></a
>

<hr />

<% } %>
